@import url(../resources/headers.css);

html {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Helvetica;
  background-color:orange;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}



table {
  margin: 0 auto !important;
}



#title {
  color:black;
  font-size:14px;
}

#source {
  color:blue;
  font-size:10px;
}

.lh {
  max-width: 200px !important;
  word-wrap: break-word !important;
  font-size: 16px !important;
  overflow: scroll;
}

font {
  font: 12px Helvetica !important;
}

.unreadStory {
  background-color: white;

}
.readStory {
  background-color: lightgray;
}
  
  
 
  

section[role="region"] {
  margin-bottom: 1.5rem;
  position: relative;
}

.main_table {
    padding: 0;
    margin: 0;
    border: 0;
    border-spacing: 0;
    height: 100%;
}


.back {
  color: white;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: .15em;
  text-decoration: none;
  position: absolute;
  left: 0px;
  top: 0px;
}

.content {
    width: 100%;
    height: 100%;
    border: 0;
}
